$dark-prime: #24252A
$dark-prime-transparent: rgba(36, 37, 42, .5)
$light-background: #F8F9FA
$dark-background: #2C3A47
$blue-dark: #1E3799
$blue-light: #0FBCF9
$gray-light: #B2BEC3
$gray-dark: #485460
$red: #CF1D16
$white-text: #EDF0F1
$light-gray-text: #868E90
$dark-gray-text: #2F3640
$white-text-dark-theme: #C8D6E5
$gray-text-dark-theme: #868E90
$gray-hover-background: #485460

$whiteLightBackground: #F8F9FA
$blueLightBackground: #1E3799
$lightBlueLightBackground: #0FBCF9
$darkGrayLightBackground: #485460
$grayShiningLightBackground: #C8D6D4
$darkLightBackground: #24252A
$grayLightBackground: #B2BEC3
$redLightBackground: #CF1D16
$darkLightText: #24252A
$lightLightText: #868E90
$redLightText: #CF1D16
$darkDarkBackground: #24252A
$darkGrayDarkBackground: #2C3A47
$redDarkText: #CF1D16
$grayDarkText: #868E90
$grayShiningDarkText: #C8D6E5
$whiteDarkText: #EDF0F1