<span class="left-row-content">
    <span class="links">
        <span class="title">
            <i class="fas fa-futbol"></i>
            <p>Mannschaften</p>
        </span>
        <span *ngFor="let link of links" [ngClass]="{'expanded': expandedLinkId == link.id }" class="link">
            <p *ngIf="link.subLinks != null" (click)="handleClick(link)" class="text">{{ link.title }}</p>
            <a *ngIf="link.subLinks == null" [ngClass]="{'active': activePageId == link.id }" href="{{ link.link }}" class="text">{{ link.title }}</a>
            <span *ngIf="link.subLinks != null" class="sub-items">
                <a *ngFor="let subLink of link.subLinks" [ngClass]="{'active': activePageId == subLink.id }" href="{{ subLink.link }}" class="sub-item">{{ subLink.title }}</a>
            </span>
        </span>
    </span>
    <span class="events">
        <span class="title">
            <i class="far fa-calender-times"></i>
            <p>Termine</p>
        </span>
        <span *ngIf="events?.length == 0" class="empty-events">
            Keine Termine
        </span>
        <span *ngFor="let event of events" class="event">
            <p *ngIf="event.link == null" class="title">{{ event.title }}</p>
            <a *ngIf="event.link != null" href="{{ event.link }}" class="title link"><i class="fas fa-link"></i>{{ event.title }}</a>
            <p class="date">{{ event.date.formated() }}</p>
            <p *ngIf="event.description != null" class="description">{{ event.description }}</p>
        </span>
    </span>
    <span class="contacts">
        <span class="title">
            <i class="far fa-address-card"></i>
            <p>Kontakt</p>
        </span>
        <span class="all-contacts">
            <span class="function-contacts">
                <p class="function">Abteilungsleiter Fussball</p>
                <span class="function-contacts">
                    <span class="contact">
                        <p class="name">J. Hoier</p>
                        <a href="tel:017657857884" class="link">
                            <i class="fas fa-phone"></i>
                            <p class="number">0176 / 57857884</p>
                        </a>
                    </span>
                </span>
            </span>
        </span>
    </span>
</span>