@import '../../../styles'

$transition: .5s
$width: 17.5 * $cube
$retractBtnWidth: 3.5 * $cube
$z-index: 6000

.left-row
    @include flex-column(flex-end, flex-start)
    width: $width
    z-index: $z-index
    position: relative
    transition: width $transition
    border-right: $darkGrayLightBackground solid 2px
    margin-bottom: 10 * $cube

    .btn-wrapper
        @include flex-row(flex-end)
        width: $width
        background-color: $grayLightBackground

        .retract-btn
            width: $retractBtnWidth
            background-color: $darkLightBackground
            padding: $cube 0
            border-radius: 0 0 0 (0.5 * $cube)
            transition: $transition

            *
                color: $whiteDarkText
                text-align: center
                font-size: 1.5 * $cube
                &.left.single-arrow
                    display: block
                &.left.double-arrow, &.right.single-arrow, &.right.double-arrow
                    display: none

            &:hover *
                color: $red
                &.left.double-arrow
                    display: block
                &.left.single-arrow, &.right.single-arrow, &.right.double-arrow
                    display: none

            &.isMoving *
                color: $red

    .content
        @include flex-column(center, flex-start)
        width: $width
        min-height: 50vh
        background-color: $grayLightBackground
        padding-bottom: 3 * $cube

    &.offscreen 
        width: 0
        border-right: none
        .btn-wrapper .retract-btn
            transform: translateX($retractBtnWidth)
            border-radius: 0 0 (0.5 * $cube) 0
            *
                &.right.single-arrow
                    display: block
                &.left.double-arrow, &.left.single-arrow, &.right.double-arrow
                    display: none

            &:hover *
                &.right.double-arrow
                    display: block
                &.left.double-arrow, &.right.single-arrow, &.left.single-arrow
                    display: none

.left-row.mobile
    width: 0
    transition: transform $transition
    transform: translateX($width)
    &.offscreen
        transform: translateX(0)

@media screen and (prefers-color-scheme: dark)
    .left-row
        .btn-wrapper
            background-color: $darkDarkBackground
            .retract-btn
                background-color: $darkGrayDarkBackground
                *
                    color: $grayShiningDarkText
        .content
            background-color: $darkDarkBackground
        &.offscreen .btn-wrapper .retract-btn
            background-color: $darkDarkBackground
            *
                color: $whiteDarkText
            &:hover *
                color: $red
            &.isMoving *
                color: $red