<span [ngClass]="{
        'offscreen': offscreen,
        'mobile': deviceTypeListener.isMobile()
    }" class="left-row" id="left-row">
    <span class="btn-wrapper">
        <span [ngClass]="{'isMoving': isMoving }" (click)="toggleOffscreen()" class="retract-btn">
            <i class="single-arrow left fas fa-angle-left"></i>
            <i class="double-arrow left fas fa-angle-double-left"></i>
            <i class="single-arrow right fas fa-angle-right"></i>
            <i class="double-arrow right fas fa-angle-double-right"></i>
        </span>
    </span>
    <span class="content">
        <ng-content></ng-content>
    </span>
</span>