<span class="body">
    <span [ngClass]="deviceTypeListener.deviceTypeString()" class="main-content">
        <span class="text-section">
            <h1>Kontakt zum SV Kleinsendelbach</h1>
            <p class="large no-bottom-space">Bitte nehmen Sie Kontakt mit uns auf.</p>
            <p class="large no-bottom-space">Wir werden Ihnen gerne antworten.</p>
        </span>
        <span class="text-section">
            <form [ngClass]="{'evaluated': formEvaluated }" class="form" [formGroup]="contactForm">
                <span class="input name">
                    <label class="label">Ihr Name:</label>
                    <input placeholder="Ihr Name" formControlName="name">
                    <label *ngIf="contactForm.controls.name.invalid && (contactForm.controls.name.touched || formEvaluated)" class="error-msg">Ihr Name ist erforderlich.</label>
                </span>
                <span class="input email">
                    <label class="label">Ihre E-Mail Adresse:</label>
                    <input placeholder="Ihre E-Mail Adresse" formControlName="email">
                    <label *ngIf="this.contactForm.controls.email.errors?.required && !this.contactForm.controls.email.errors?.email && (contactForm.controls.email.touched || formEvaluated)" class="error-msg">Ihre E-Mail Adresse ist erforderlich.</label>
                    <label *ngIf="this.contactForm.controls.email.errors?.email && (contactForm.controls.email.touched || formEvaluated)" class="error-msg">Das ist keine gültige E-Mail Addresse.</label>
                </span>
                <span class="input receiver">
                    <label class="label">Anfrage an:</label>
                    <select formControlName="receiver"><option *ngFor="let receiver of receivers">{{ receiver.name }}</option></select>
                    <label *ngIf="contactForm.controls.receiver.invalid && (contactForm.controls.receiver.touched || formEvaluated)" class="error-msg">Ein Empfänger ist erforderlich.</label>
                </span>
                <span class="input message">
                    <label class="label">Ihre Nachricht:</label>
                    <textarea placeholder="Ihre Nachricht" formControlName="message"></textarea>
                    <label *ngIf="contactForm.controls.message.invalid && (contactForm.controls.message.touched || formEvaluated)" class="error-msg">Eine Nachricht ist erforderlich.</label>
                </span>
                <re-captcha
                    *ngIf="!isDarkMode"
                    (resolved)="resolved($event)"
                    theme="light"
                    siteKey="6LeRPV8aAAAAAGTROCrbNN8noUpHrs4vh6qJOOzL"
                    class="recaptcha"
                    [ngClass]="{'invalid': !recaptchaValid && formEvaluated }">
                </re-captcha>
                <re-captcha
                    *ngIf="isDarkMode"
                    (resolved)="resolved($event)"
                    theme="dark"
                    siteKey="6LeRPV8aAAAAAGTROCrbNN8noUpHrs4vh6qJOOzL"
                    class="recaptcha"
                    [ngClass]="{'invalid': !recaptchaValid && formEvaluated }">
                </re-captcha>
                <label *ngIf="!recaptchaValid && formEvaluated" class="recaptcha-error-msg">reCAPTCHA ist erforderlich.</label>
                <button [ngClass]="status" type="submit" (click)="onSubmit()">Abschicken</button>
                <label *ngIf="status == 'success'" class="status success">Email wurde versendet.</label>
                <label *ngIf="status == 'failure'" class="status failure">Es gab einen Fehler beim Senden.</label>
                <label *ngIf="status == 'inputError'" class="status inputError">Nicht alle Eingaben sind gültig.</label>
            </form>
        </span>
    </span>
</span>