<span [ngClass]="deviceTypeListener.deviceTypeString()" class="top-header">
    <a href="TODO" class="img-link">
        <img src="../../../../assets/images/logo-transparent.png" class="logo">
    </a>
    <span [ngClass]="{'nav-bar-item-hover': expandedNavBarItem != null }" class="title-container" #titleContainer>
        <p class="title">SV Kleinsendelbach</p>
        <span *ngIf="!deviceTypeListener.isMobile()" class="hover-sheet">
            <p class="hover-text">{{ expandedNavBarItem != null ? expandedNavBarItem!.name : title }}</p>
        </span>
    </span>
    <span *ngIf="!deviceTypeListener.isMobile()" class="social-media-buttons">
        <span *ngIf="deviceTypeListener.isDesktop()" class="cover">
            <i class="icon fas fa-share-alt"></i>
            <p class="text">Social Media</p>
        </span>
        <span class="buttons">
            <a href="http://sg-kh.de" class="link" target="_blank">
                <img src="../../../assets/images/Logo-SG.png">
            </a>
            <a href="https://www.instagram.com/sgkleinsendelbachhetzles/" class="link" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/svkleinsendelbach/" class="link" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </span>
    </span>
</span>