<span class="top-header">
    <a href="TODO to home" class="logo-link">
        <img src="../../../assets/images/logo-transparent.png" class="logo">
    </a>
    <span [ngClass]="{'nav-bar-item-hover': navBarHoverItem != null }" class="title-container" #headerTitleContainer>
        <p class="text">SV Kleinsendelbach</p>
        <span class="header-sheet">
            <p class="text">{{ navBarHoverItem != null ? navBarHoverItem?.name : title }}</p>
        </span>
    </span>
    <span class="social-media-buttons">
        <span class="cover">
            <i class="fas fa-share-alt"></i>
            <p class="text">Social Media</p>
        </span>
        <span class="buttons">
            <a href="http://sg-kh.de" class="link" target="_blank">
                <img src="../../../assets/images/Logo-SG.png">
            </a>
            <a href="https://www.instagram.com/sgkleinsendelbachhetzles/" class="link" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/svkleinsendelbach/" class="link" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </span>
    </span>
</span>
<app-nav-bar (navBarItemHoverEmitter)="handleHoverEmitter($event)"></app-nav-bar>
