<span class="body">
    <app-left-row>                
        <app-football-adults-left-row [activePageId]="'second-team-times'" class="app-left-row"></app-football-adults-left-row>
    </app-left-row>
    <span [ngClass]="deviceTypeListener.deviceTypeString()" class="main-content">
       <span class="text-section">
            <h1>Trainingszeiten der Zweiten Mannschaft</h1>
            <p class="top-space">Das Training findet jeden Dienstag und Donnerstag von 19:00Uhr - 21:00Uhr am B-Platz in der Sendelmühlstraße statt.</p>
            <google-map
                width="100%"
                height="100%"
                [zoom]="mapProperties.zoom"
                [center]="mapProperties.center"
                [options]="mapProperties.options">
                <map-marker
                    *ngFor="let marker of mapProperties.marker"
                    [position]="marker.position"
                ></map-marker>
            </google-map>
    </span>
</span>