<span class="body">
    <span [ngClass]="deviceTypeListener.deviceTypeString()" class="main-content">
        <span class="text-section">
            <h1>Tanzgruppen „Tanzmäuse“</h1>
            <p>Unsere Kindertanzgruppen "Tanzmäuse" vermitteln Kindern Spaß an der Bewegung. Als sportlicher Aspekt wird dabei eine Verbesserung der Kondition und Koordination angestrebt. Doch auch im Alltag verbessern Kinder, die regelmäßig Sport betreiben, ihre Leistungen - durch mehr Selbstbewusstsein, bessere Disziplin und Aufnahmefähigkeit, was wiederum zu besseren Noten führt.</p>
            <p>Unsere "Tanzmäuse" üben im Kellerraum des Schulhauses in Kleinsendelbach am Mittwoch (außer in den Ferien) zu folgenden Zeiten:</p>
            <span class="groups">
                <span class="group">
                    <u class="title">Minis</u>
                    <u class="class">Kindergartenkinder</u>
                    <u class="time">Mi. 16:05 bis 16:50 Uhr</u>
                </span>
                <span class="group">
                    <u class="title">Kids</u>
                    <u class="class">1. und 2. Klasse</u>
                    <u class="time">Mi. 6:50 bis 17:50 Uhr</u>
                </span>
                <span class="group">
                    <u class="title">Juniors</u>
                    <u class="class">4. bis 6. Klasse</u>
                    <u class="time">Mi. 17:50 bis 18:50 Uhr</u>
                </span>
            </span>
            <p>Außerdem finden in manchen Ferien noch mehrtägige Workshops statt.</p>
            <p>Details zum Angebot und zur Möglichkeit von Schnupperstunden erfahren Sie bei Nina Slany unter <a class="inline" href="tel:01733892263">0173 / 389 22 63</a>.</p>
        </span>
    </span>
</span>