<span class="body">
    <app-left-row>
        <app-gymnastics-left-row></app-gymnastics-left-row>
    </app-left-row>
    <span [ngClass]="deviceTypeListener.deviceTypeString()" class="main-content">
        <span class="text-section">
            <h1>Gymnastikangebot beim SV Kleinsendelbach e.V.</h1>
            <p>Die Gymnastikabteilung freut sich Kurse für Step-Aerobic und Wirbelsäulengymnastik anbieten zu können. Hier finden Sie unsere Angebote aus dem Gymnastik-Bereich, sowie Informationen zum sportlichen Konzept der Gymnastik-Abteilung.</p>
            <p>Die Kurse finden immer donnerstags in der Kleinsendelbacher Mehrzweckhalle statt.</p>
            <img class="small top-space" id="href1" src="../../../assets/images/gymnastik.png">
        </span>
        <span class="text-section">
            <h1>Step-Aerobic</h1>
            <p>mit BBP-Bodenübungen (Bauch-Beine-Po). Durch dynamischen Bewegungsabläufen auf einer Stufe (= Step), werden die Gelenke geschont und gleichzeitig das Herz-Kreislaufsystem, Ausdauer und Muskelkraft sowie die Koordination trainiert. Die Bodenübungen ergänzen das Training und sprechen gezielt die Problemzonen an. So schmelzen ganz nebenbei auch überflüssige Pölsterchen dahin.</p>
            <p class="red" id="href2">Do. 18:30 bis 19:30 Uhr</p>
        </span>
        <span class="text-section">
            <h1>Wirbelsäulengymnastik</h1>
            <p>Zwickt es bei Ihnen im Rücken? Durch gezielte Übungen mobilisieren, dehnen und kräftigen wir die Rücken- und Bauchmuskulatur, um so Beschwerden vorzubeugen oder zu verringern. Dieser Kurs ist auch ein perfekter Ausgleich zum täglichen langen Sitzen im Büro.</p>
            <p>Bitte bringen Sie zu den Kursen Sportschuhe und eine Gymnastikmatte mit.</p>
            <p class="red" id="href3">Do. 19:30 bis 20:30 Uhr</p>
        </span>
        <span class="text-section">
            <h1>Neu</h1>
            <p>Sie wollen in einen oder beide Kurse einfach mal für einige Stunden hineinschnuppern, ohne gleich Vereinsmitglied zu werden? Dafür bieten wir ab sofort die neue Zehnerkarte an. Sie gilt für 10 x 60 Minuten und kann für einen oder auch für die beiden Kurse direkt hintereinander verwendet werden. Sie kostet 29 Euro.</p>
            <p>Außerdem können Sie bei Interesse gerne auf eine kostenlose Schnupperstunde vorbeikommen und mitmachen. Falls Sie noch Fragen zum Kursangebot haben kontaktieren Sie uns unter <a class="inline" href="mailto:gymnastik@sv-kleinsendelbach.de">gymnastik@sv-kleinsendelbach.de</a>.</p>
            <h3>Wir freuen uns auf Sie</h3>
            <p class="red large large-top-space">Gymnastikabteilung des Sportverein Kleinsendelbach e. V.</p>
        </span>
    </span>
</span>