<span class="body">
    <span [ngClass]="deviceTypeListener.deviceTypeString()" class="main-content">
        <span class="text-section">
            <h1>Anfahrt zum Sportheim Kleinsendelbach</h1>
            <p class="large no-bottom-space">Sportverein Kleinsendelbach e.V.</p>
            <p class="large no-bottom-space">Hauptstraße 21</p>
            <p class="large no-bottom-space">91077 Kleinsendelbach</p>
            <a class="large" href="TODO">
                <i class="large fas fa-phone"></i>
                <u class="large">09126 / 8304</u>
            </a>
            <google-map
                width="100%"
                height="100%"
                [zoom]="mapProperties.zoom"
                [center]="mapProperties.center"
                [options]="mapProperties.options">
                <map-marker
                    *ngFor="let marker of mapProperties.marker"
                    [position]="marker.position"
                ></map-marker>
            </google-map>
        </span>
    </span>
</span>