<span class="left-row-content">
    <span class="news">
        <span class="title">
            <i class="far fa-newspaper"></i>
            <p>news</p>
        </span>
        <span class="items">
            <a href="TODO" class="news-item item">
                <span class="text">
                    Saisonrückblick Jugend 2017 / 2018
                </span>
            </a>
            <a href="TODO" class="news-item item">
                <span class="text">
                    Kochbuch "Schmackofatz" zu Gunsten der Kabinen-Renovierung
                </span>
            </a>
        </span>
    </span>
    <span class="results">
        <span class="title">
            <i class="fas fa-futbol"></i>
            <p>Ergebnisse</p>
        </span>
        <span class="items">
            <a href="TODO" class="result-item item">
                <span class="text">1. Mannschaft</span>
            </a>
            <a href="TODO" class="result-item item">
                <span class="text">2. Mannschaft</span>
            </a>
            <a href="TODO" class="result-item item">
                <span class="text">C-Jugend</span>
            </a>
            <a href="TODO" class="result-item item">
                <span class="text">E-Jugend</span>
            </a>
        </span>
    </span>
</span>