<span class="body">
    <app-left-row>                
        <app-football-youth-left-row [activePageId]="'youth-e-times'" class="app-left-row"></app-football-youth-left-row>
    </app-left-row>
    <span [ngClass]="deviceTypeListener.deviceTypeString()" class="main-content">
       <span class="text-section">
            <h1>Trainingszeiten der E-Jugend</h1>
            <p class="top-space">Das Training findet jeden Mittwoch von 17:30Uhr - 19:00Uhr am B-Platz am A-Platz statt.</p>
            <google-map
                width="100%"
                height="100%"
                [zoom]="mapProperties.zoom"
                [center]="mapProperties.center"
                [options]="mapProperties.options">
                <map-marker
                    *ngFor="let marker of mapProperties.marker"
                    [position]="marker.position"
                ></map-marker>
            </google-map>
    </span>
</span>