<span class="left-row-content">
    <span class="imprint">
        <span class="title">
            <i class="fas fa-stamp"></i>
            <p>Impressum</p>
        </span>
        <span class="items">
            <a href="impressum#href1" class="item">Anschrift</a>
            <a href="impressum#href2" class="item">Vorstand</a>
            <a href="impressum#href3" class="item">Verantwortlicher</a>
        </span>
    </span>
    <span class="privacy">
        <span class="title">
            <i class="fas fa-user-secret"></i>
            <p>Datenschutz</p>
        </span>
        <span class="items">
            <a href="über-uns/datenschutz" class="item"><p>Erklärung</p></a>
        </span>
    </span>
</span>