
<span class="body">
    <span [ngStyle]="{'width': (leftRowWidth == null ? (deviceTypeListener.isMobile() ? 0 : 12.5) : leftRowWidth) + 'rem' }" class="left-row-wrapper">
        <app-left-row (widthEmitter)="handleLeftRowWidthChange($event)">                
            <app-home-left-row></app-home-left-row>
        </app-left-row>
    </span>
    <span [ngClass]="deviceTypeListener.deviceTypeString()" class="content">
        <span class="title-wrapper">
            <span class="title">
                <p>Herzlich Willkommen beim</p>
                <p>SV Kleinsendelbach e.V.</p>
            </span>
        </span>
        <span class="links">
            <span *ngFor="let linkItemRow of linkItemRows" class="row">
                <a *ngFor="let linkItem of linkItemRow" class="item" href="{{ linkItem.linkUrl }}">
                    <i class="{{ linkItem.iconClass }} {{ linkItem.animation }}"></i>
                    <p class="title">{{ linkItem.name }}</p>
                    <p class="description text-colored">{{  linkItem.description }}</p>
                </a>
            </span>
        </span>
        <span class="text-section overlined">
            <h3 class="content-text text-1 title-colored">Schön, dass Sie unsere Website besuchen!</h3>
            <p class="content-text text-2 text-colored">Haben Sie Lust auf Fußball, Gymnastik oder Kindertanz? Dann informieren Sie sich unter der entsprechenden Abteilung auf unserer Homepage oder senden Sie uns eine Nachricht.</p>
            <p class="content-text text-3 text-colored">Wir freuen uns auf Sie!</p>
            <p class="content-text text-4 text-colored">Ihre Vorstandschaft des SV Kleinsendelbach</p>
            <p class="content-text text-5">Der SVK bedankt sich herzlich bei allen Sponsoren und Gönnern.</p>
        </span>
    </span>
</span>