@import '../../../styles'

.main-content
    .title-wrapper
        @include flex-row(flex-start)
        width: 100%

        .title
            $border: $darkGrayLightBackground solid 1px
            background-color: $grayLightBackground
            border:
                top: $border
                right: $border
                bottom: $border
                radius: 0 (1.5 * $cube) (1.5 * $cube) 0
            padding: 
                left: 2 * $cube
                top: $cube
                right: 4 * $cube
                bottom: $cube

            p
                font-family: "Dancing Script", cursive
                color: $blueLightBackground
                font-size: 4 * $cube

    .links
        @include flex-column()
        padding: 
            top: 2 * $cube
            bottom: 4 * $cube

        .row
            @include flex-row(center, flex-start)
            padding:
                right: 2 * $cube
                top: 2 * $cube
                left: 2 * $cube

            .item
                @include flex-column()
                flex: 1
                padding: 0 $cube
                text-decoration: none
                height: 100%

                *
                    text-align: center

                i
                    color: $darkLightText
                    font-size: 3 * $cube

                .title
                    transition: .3s
                    color: $red
                    font:
                        size: 1.5 * $cube
                        weight: 500
                    padding:
                        top: $cube
                        bottom: 1.5 * $cube

                .description
                    color: $lightLightText
                    font:
                        size: $cube
                        weight: 400

                &:hover
                    .title
                        transform: scale(1.1)
                    .jump
                        animation: icon-jump 1s linear infinite
                    .shake
                        animation: icon-shake 1s linear infinite
                    .football
                        animation: football-rotation 3s linear infinite
        
    &.mobile .title-wrapper .title
        border:
            right: none
            radius: 0
            padding: 0
        width: 100%

        p
            font-size: 1.5 * $cube
            text-align: center

@keyframes football-rotation 
    0% 
        transform: rotate(0)
    100%
        transform: rotate(360deg)

@keyframes icon-jump
    0%
        transform: translateY(0)
    65% 
        transform: translateY(-10px)
    100% 
        transform: translateY(0)

@keyframes icon-shake
    0%
        transform: rotate(0)
    25%
        transform: rotate(10deg)
    75% 
        transform: rotate(-10deg)
    100% 
        transform: rotate(0)

@media screen and (prefers-color-scheme: dark)
    .main-content .title-wrapper .title
        background-color: $darkDarkBackground