<span class="body">
    <app-left-row>
        <app-home-left-row></app-home-left-row>
    </app-left-row>
    <span [ngClass]="deviceTypeListener.deviceTypeString()" class="main-content">
        <span class="text-section">
            <h1>Diese Seite ist leider nicht verfügbar</h1>
            <p>Entweder funktioniert der von Ihnen angeklickte Link nicht oder die Seite wurde entfernt.</p>
            <p>Ist dies der Fall, schreiben Sie uns dies bitte an folgende E-Mail - Adresse: <a class="inline" href="mailto:vorstand@sv-kleinsendelbach.de">vorstand@sv-kleinsendelbach.de</a></p>
            <span class="img-link">
                <img src="../../../assets/images/logo-transparent.png" class="img">
                <a href="home" class="link">Zur Startseite</a>
            </span>
        </span>
    </span>
</span>