<span class="body">
    <span [ngStyle]="{'width': (leftRowWidth == null ? (deviceTypeListener.isMobile() ? 0 : 12.5) : leftRowWidth) + 'rem' }" class="left-row-wrapper">
        <app-left-row (widthEmitter)="handleLeftRowWidthChange($event)">                
            <app-football-adults-left-row [activePageId]="'football-adult-general'"></app-football-adults-left-row>
        </app-left-row>
    </span>
    <span [ngClass]="deviceTypeListener.deviceTypeString()" class="content">
       
    </span>
</span>