@import '../../../../styles'

.body
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: flex-start

    .left-row-wrapper
        transition: .5s linear
        *
            transition: .5s linear
