<span class="body">
    <app-left-row>
        <app-imprint-left-row></app-imprint-left-row>
    </app-left-row>
    <span [ngClass]="deviceTypeListener.deviceTypeString()" class="main-content">
        <span class="text-section">
            <h1 id="href1">Impressum</h1>
            <span class="item">
                <h2>Anschrift</h2>
                <span class="address">
                    <p>Sportverein Kleinsendelbach e.V.</p>
                    <p>Hauptstraße 21</p>
                    <p id="href2">91077 Kleinsendelbach</p>
                    <a href="TODO"><i class="fas fa-phone"></i><p>09126 / 8304</p></a>
                </span>
            </span>
            <span class="item">
                <h2>Vertretungsberechtigter Vorstand (§26 BGB)</h2>
                <span class="address">
                    <p>Martina E. Kellner (1. Vorsitzende)</p>
                    <p>Lilienweg 6b</p>
                    <p id="href3">91077 Kleinsendelbach</p>
                    <a href="TODO"><i class="fas fa-phone"></i><p>01517 / 4211318</p></a>
                    <a href="TODO"><i class="fas fa-envelope"></i><p>vorstand@sv-kleinsendelbach.de</p></a>
                </span>
            </span>
            <span class="item">
                <h2>Verantwortlich für den Inhalt  der Homepage</h2>
                <span class="address">
                    <p>Martina E. Kellner</p>
                    <p>Anschrift siehe oben</p>
                </span>
            </span>
            <p class="top-space">Der Verein ist eingetragen am Amtsgericht Bamberg unter der VR-Registernummer: VR-10234</p>
        </span>
        <span class="text-section">
            <h1>Datenschutz</h1>
            <a class="large" href="über-uns/datenschutz">-- Zur Datenschutzerklärung --</a>
        </span>
    </span>
</span>