@import '../../../../styles.sass'

$z-index: 8000

.nav-bar.desktop, .nav-bar.tablet
    .nav-bar-items
        @include flex-row(flex-start, flex-start)
    &.sticky
        position: fixed
        top: 0
        left: 0

.nav-bar.mobile
    @include flex-column(center, flex-start)
    z-index: $z-index

    .drop-down-btn
        @include flex-row(flex-start)
        width: 100vw
        background-color: $darkLightBackground
        z-index: $z-index + 999

        .button
            $line-height: 0.25 * $cube
            $line-width: 2 * $cube
            $distance: 0.5 * $cube
            margin: $cube 0 $cube (2 * $cube)

            .btn-image
                margin: $line-height + $distance 0
                width: $line-width
                height: $line-height
                transition: .5s
                border-radius: 0.5 * $line-height
                background-color: $whiteDarkText
                opacity: 1

                &::before
                    transform: translateY(-$distance)
                &::after
                    transform: translateY($distance)

                &::before, &::after
                    content: ""
                    position: absolute
                    width: $line-width
                    height: $line-height
                    transition: .5s
                    border-radius: 0.5 * $line-height
                    background-color: $whiteDarkText

            &.active .btn-image
                transform: translateX(-$line-width)
                background-color: transparent

                &::before
                    transform: rotate(45deg) translate(0.7 * $line-width, -0.7 * $line-width)
                &::after
                    transform: rotate(-45deg) translate(0.7 * $line-width, 0.7 * $line-width)

    .nav-bar-items
        @include flex-column(center, flex-start)
        $transition: .3s
        $titleHeightMobile: 3 * $cube
        transition: $transition
        width: 95vw
        height: 0
        
        .nav-bar-item
            width: 100%
            transition: $transition
            @for $i from 1 through 100 
                &:nth-child(#{$i})
                    transform: translateY(-$i * $titleHeightMobile)
                    z-index: $z-index + 201 - $i

        &.active
            transition: $transition
            .nav-bar-item
                transform: translateY(0)

    &.sticky
        position: fixed
        top: 0
        
@media screen and (prefers-color-scheme: dark)
    .nav-bar.mobile .drop-down-btn
        border-bottom: (0.15 * $cube) solid $grayDarkText
