<nav [ngClass]="deviceTypeListener.deviceTypeString()" class="nav-bar" #navBar>
    <span *ngIf="deviceTypeListener.isMobile()" class="drop-down-btn">
        <span (click)="toggleMobileHamburgerButtonActive()" [ngClass]="{'active': mobileHamburgerButtonActive }" class="button"><div class="btn-image"></div></span>
    </span>
    <span [ngClass]="{'active': mobileHamburgerButtonActive }" class="nav-bar-items">
        <app-nav-bar-item *ngFor="let navBarItem of navBarItems" 
            [ngClass]="{'expanded': expandedNavBarItem?.id == navBarItem.id }" 
            (expandedNavBarItemEmitter)="setExpandedNavBarItem($event)" 
            [navBarItem]="navBarItem" 
            [expandedNavBarItem]="expandedNavBarItem" 
            [activePageId]="activePageId" 
            [afterExpandedNavBarItemId]="afterExpandedNavBarItemId"
            [lastNavBarItemId]="lastNavBarItemId"
            [isMobileNavBarExtended]="mobileHamburgerButtonActive"
            [ngStyle]="widthStyle(navBarItem)"
            class="nav-bar-item"
            #navBarItem>
        </app-nav-bar-item>
    </span>
</nav>