@import '../../../../styles.sass'

// Layout of nav bar for desktop and tablet
.nav-bar.desktop, .nav-bar.tablet
    .nav-bar-items
        display: flex
        flex-direction: row
        align-content: center

        .nav-bar-item
            $nav-bar-item-height: 4 * $cube
            $sub-item-height: 3 * $cube
            display: flex
            flex-direction: column
            align-items: center
            justify-content: flex-start

            > .link
                display: flex
                flex-direction: row
                align-items: center
                justify-content: center
                text-decoration: none
                height: $nav-bar-item-height
                width: 100%
                z-index: 101

                .text
                    text-transform: uppercase
                    white-space: nowrap
                    
                i
                    margin-left: 4px

            .sub-items
                display: flex
                flex-direction: column
                align-items: center
                justify-content: flex-start

                .sub-item
                    display: flex
                    flex-direction: column
                    height: $sub-item-height
                    overflow: hidden
                    justify-content: center
                    width: 100%
                    height: 0
                    padding: 0 $cube
                    transition: transform .3s linear
                    transition-delay: 0

                    @for $i from 1 through 100 
                        &:nth-child(#{$i})
                            transform: translateY(-$i * $sub-item-height)
                            z-index: 101 - $i

                    > .link
                        text-decoration: none

                        .text
                            display: flex
                            flex-direction: row
                            text-transform: uppercase
                            white-space: nowrap
                            justify-content: center

.nav-bar.desktop .nav-bar-items .nav-bar-item:hover, .nav-bar.tablet .nav-bar-items .nav-bar-item.expanded
    > .link
        z-index: 102

    .sub-items .sub-item
        height: 100%
        padding: $cube
        transform: translateY(0)
        @for $i from 1 through 100 
            &:nth-child(#{$i})
                transition-delay: #{0.05 * $i}s

.nav-bar.tablet .nav-bar-items .nav-bar-item:hover > .link
    z-index: 102

// Layout of nav bar for mobile
.nav-bar.mobile
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start

    .drop-down-btn
        width: 100%
        display: flex
        flex-direction: row
        align-items: center
        justify-content: flex-start

        .button
            $line-height: 0.25 * $cube
            $line-width: 2 * $cube
            $distance: 0.5 * $cube
            margin: $cube 0 $cube (2 * $cube)

            .btn-image
                margin: $line-height + $distance 0
                width: $line-width
                height: $line-height
                transition: .5s linear
                border-radius: 0.5 * $line-height
                opacity: 1

                &::before
                    transform: translateY(-$distance)
                &::after
                    transform: translateY($distance)

                &::before, &::after
                    content: ""
                    position: absolute
                    width: $line-width
                    height: $line-height
                    transition: .5s linear
                    border-radius: 0.5 * $line-height

            &.active .btn-image
                transform: translateX(-$line-width)

                &::before
                    transform: rotate(45deg) translate(0.7 * $line-width, -0.7 * $line-width)
                &::after
                    transform: rotate(-45deg) translate(0.7 * $line-width, 0.7 * $line-width)

// Style of nav bar for desktop and tablet
.nav-bar.desktop, .nav-bar.tablet
    .nav-bar-items
        .nav-bar-item
            > .link
                background-color: $dark-prime
                cursor: pointer
                transition: .3s linear

                .text, i
                    color: $white-text

            .sub-items
                .sub-item
                    background-color: $dark-prime

                    > .link
                        cursor: pointer
                        transition: .3s linear

                        .text
                            color: $white-text
                            transition: .3s linear
                
                    &:last-child
                        border-radius: 0 0 (0.5 * $cube) (0.5 * $cube)

                    &:hover > .link .text
                        color: $blue-light
                        
                    
            &:hover, &.expanded
                > .link 
                    padding: 0 (0.5 * $cube)
                    background-color: $gray-dark
                    border-radius: 0.5 * $cube
                    transform: scale(1.1)

                    .text, i
                        color: $blue-light

// Style of nav bar for mobile
.nav-bar.mobile
    .drop-down-btn
        background-color: $dark-prime

        .button            
            .btn-image
                background-color: $white-text

                &::before, &::after
                        background-color: $white-text

            &.active .btn-image
                background-color: transparent
