@import '../../../../styles'

.body
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: flex-start

    .left-row-wrapper
        transition: .5s linear
        *
            transition: .5s linear

.content
    display: flex
    flex-direction: column
    justify-content: flex-start
    margin-top: 4 * $cube
    margin-bottom: 10 * $cube

    > p
        text-align: start

    > *
        margin-top: 2 * $cube

    a
        text-decoration: none
        p
            color: $red
            font:
                size: 1.25 * $cube
                weight: 500
            text-align: center
            margin-top: 4 * $cube
            margin-bottom: 2 * $cube
