<span class="left-row-content">
    <span class="news">
        <span class="title">
            <i class="far fa-newspaper"></i>
            <p>news</p>
        </span>
        <span *ngIf="allNews" class="items">
            <a *ngFor="let news of allNews" href="news/{{ news.address }}" class="news-item item">
                <span class="text">{{ news.title }}</span>
            </a>
        </span>
        <a *ngIf="showAllNewsButtonVisible" href="news/alle-news" class="show-more">Alle News zeigen</a>
    </span>
    <span class="results">
        <span class="title">
            <i class="fas fa-futbol"></i>
            <p>Ergebnisse</p>
        </span>
        <span class="items">
            <a href="fussball/herren/erste-mannschaft/ergebnis" class="result-item item">
                <span class="text">1. Mannschaft</span>
            </a>
            <a href="fussball/herren/zweite-mannschaft/ergebnis" class="result-item item">
                <span class="text">2. Mannschaft</span>
            </a>
            <a href="fussball/jugend/c-jugend/ergebnis" class="result-item item">
                <span class="text">C-Jugend</span>
            </a>
            <a href="fussball/jugend/e-jugend/ergebnis" class="result-item item">
                <span class="text">E-Jugend</span>
            </a>
        </span>
    </span>
</span>